{
  "extends": [
    "eslint:recommended"
  ],
  "env": {
    "browser": false,
    "commonjs": false,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "no-console": "off",
    "no-unused-vars": "warn",
    "no-undef": "error",
    "curly": "warn",
    "comma-dangle": "off"
  }
}
